Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Flask-Login==0.6.3
Flask-Security-Too==5.3.2
Flask-HTTPAuth==4.2.0
pytest==8.0.0
simplejson==3.19.0
Flask-Testing==0.8.0
python-dotenv==1.0.1
SQLAlchemy==2.0.27
Werkzeug==3.0.1
